body {
    margin: 30px;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 20px;
}

main {
    max-width: 700px;
    margin-top: 100px;
}

section {
    margin: 100px 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    margin-top: 50px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: white;
}

hr {
    border: 0;
    border-top: 1px solid white;
}

footer {
    margin-top: 100px;
}

.about-images {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.about-images img {
    width: 200px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
}