body {
    margin: 30px;
    background: #000000;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

main {w
    max-width: 700px;
    margin-top: 100px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 35px;
    margin-top: 50px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

hr {
    margin: 40px 0;
    border: 0;
    border-top: 1px solid white);
}

